*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    background-color: transparent;
    text-align: left;
    position: fixed;
    z-index: 999;
    width: 100%;

    #header-img {
        width: 100px;
        margin-left: 10px;
    }

    #nav-bar {
        background-color: transparent;
        width: 100%;
        position: absolute;
        text-align: right;
        top: 100%;
        right: 0;
        transform: scale(1,0);
        transition: transform 400ms ease-in-out;
        transform-origin: top;

        & > ul {
            list-style: none;
            
            & > li {
                margin: 0 2rem 1rem 0;

                & > a {
                    text-decoration: none;
                    font-size: 1rem;
                    color: black;
                    text-transform: uppercase;
                    opacity: 0;
                    transition: opacity 150ms ease-in-out;
                    padding: 0.2rem;
                    border-radius: 0.3rem;
                }

                & > a:hover {
                    background-color: #0000001c;
                }
            }
        }

    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle:checked ~ nav#nav-bar {
        transform: scale(1,1);
    }
    
    .nav-toggle:checked ~ nav#nav-bar > ul > li > a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

}


