@media screen and (min-width: 768px) {
    #header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    
        #header-img {
            width: 100px;
            margin-left: 10px;
            grid-column: 2/3;
        }
    
        #nav-bar {
            position: relative;
            text-align: left;
            transition: none;
            transform: scale(1,1);
            top: initial;
            left: initial;
            grid-column: 3/4;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            & > ul {
                display: flex;
                
                & > li {
                    margin-left: 3em;
                    margin-bottom: 0;
    
                    & > a {
                        opacity: 1;
                        position: relative;
                    }
    
                }
            }
    
        }
    
        .nav-toggle-label {
            display: none;
        }
    
    }

    .redirect-btn {
        flex-basis: 50%;
    }

    section.ads {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
    
        & > .video {
            flex: 1;
            display: relative;
            top: 25%;
            left: 20%;
            transform: translateX(-20%);
                & > #video {
                    width: 100%;
                    height: 50%;
                }
        }
    
        & > .btn {
            flex: 1;
            display: flex;
            justify-content: center;
    
            & > .slogan {
                display: flex;
                align-items: center;
                width: 100%;
            }
    
        }
    }
}