#model-y {
    width: 100vw;
    height: 770px;
    background-image: url(https://cdn.mos.cms.futurecdn.net/mEseonq4fwUzSkR86crR6h.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-wrap: wrap;
    
    .title-y {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 100px 0;
    }

    .info-y {
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: -70px;
        
        div {
            margin: 0 50px;
        }

        .button-y {

            button {
                background-color: transparent;
                font-size: 15px;
                padding: 10px 50px;
                border: 1px solid black;
                border-radius: 30px;
            }

            button:hover {
                background-color: black;
                color: white;
            }
        }
    }
}